body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333333f4;
    color: #fff;
    text-align: center;
    padding: 1px;
}

nav {
    background-color: #555;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.product {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-details {
    text-align: center;
    margin-top: 10px;
}

.product-details h3 {
    margin: 0;
    color: #333;
}

.product-details p {
    color: #555;
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding:1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
